#car{
	height: 1000px;
	width: 1000px;
	margin: auto;
}

#back-wheel{
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	left: 800px;
	top: 880px;
	margin: -150px 0 0 380px;
	position: absolute;

}

#front-wheel{
	height: 150px;
	width: 150px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	left: 500px;
	top: 880px;
	margin: -150px 0 0 50px;
	position: absolute;

}

#hood{
	height: 200px;
	width: 300px;
	background-color: white;
	border: 4px solid black;
	border-radius: 50% 20px 0 20px;
	left: 500px;
	top: 400px;
	margin: 200px 0 0 0;
	position: absolute;

}

#trunk{
	height: 200px;
	width: 400px;
	background-color: white;
	border: 4px solid black;
	border-radius: 5px 5px 5px 5px;
	left: 554px;
	top: 600px;
	margin: 0px 0 0 400px;
	position: absolute;

}

#cabin{
	height: 300px;
	width: 200px;
	background-color: white;
	border: 4px solid black;
	border-radius: 50% 20px 0 0px;
	left: 500px;
	top: 400px;
	margin:100px 0 0px 250px;
	position: absolute;

}
/* 
#top-hood {
  width: 800px;
  height: 100px;
  left: 400px;
  top: 300px;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #1D36F4;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: block;
}

#front-hood {
  width: 800px;
  height: 300px;
  left: 200px;
  top: 400px;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid silver;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  display: block;
} */